*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: lightblue; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, lightgrey, white);
    background: -moz-linear-gradient(right, lightgrey, white);
    background: -o-linear-gradient(right, lightgrey, white);
    background: linear-gradient(to left, lightgrey, white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #202133;

}

.logo a {
    color: #d2d2d6;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}
.logo a:hover{
  color: white;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #d2d2d6;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
  color: white;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #d2d2d6;
    margin: 5px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background-color: #202133;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* Footer start */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2vh;
    background-color: #202133;
    color: #d2d2d6;
    text-align: center;
  }

/* Footer slutt – Innlogging start */
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: grey;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: grey;
  }
  .form .message {
    margin: 15px 0 0;
    color: darkgray;
    font-size: 12px;
  }
  .form .message a {
    color: black;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
/* Innlogging slutt – Registrering start*/
  .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
  }

  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #202133;
    text-transform: uppercase;
    text-align: center;
  }

  .wrapper .reg{
    width: 100%;
  }

  .wrapper .reg .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .wrapper .reg .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }

  .wrapper .reg .inputfield .input,
  .wrapper .reg .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .wrapper .reg .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }

  .wrapper .reg .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }

  .wrapper .reg .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }

  .wrapper .reg .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }


  .wrapper .reg .inputfield .input:focus,
  .wrapper .reg .inputfield .textarea:focus,
  .wrapper .reg .inputfield .custom_select select:focus{
    border: 1px solid #202133;
  }

  .wrapper .reg .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .reg .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .wrapper .reg .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background:  #202133;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }

  .wrapper .reg .inputfield .btn:hover{
    background: #202133;
  }

  .wrapper .reg .inputfield:last-child{
    margin-bottom: 0;
  }

  @media (max-width:420px) {
    .wrapper .reg .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .reg .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .reg .inputfield.terms{
      flex-direction: row;
    }
  }

/* Registrering slutt – Bildekarusell start */

  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .trigger {
    display: none;
  }
  
  .slider, .slider-wrapper {
    position: relative;
    height: 35vh;
  }
  
  .slide {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .slide-img {
    filter: brightness(100%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
  }
  
  .slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
  }
  
  .slide-caption {
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: rgb(230, 17, 17);
    text-align: center;
  
  }
  
  .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
  }
  
  .slider-nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .slider-nav__item {
    display: inline-block;
  }
  
  .slider-nav__label {
    font-size: 13px;
    background-color: red;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
  }
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: yellow;
  }
  @media only screen and (min-width: 1025px) {
    .slider, .slider-wrapper {
      height: 45vh;
    }
  
    .slide-caption {
      width: 100%;
      font-size: 1.5rem;
    }
    .slide-img {
      max-width: 500px;
      height: auto;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .slider, .slider-wrapper {
      height: 35vh;
    }
  
    .slide-caption {
      width: 100%;
      font-size: 1.25rem;
    }
    .slide-img {
      width: auto;
      max-height: 40vh;
    }
  }

/* Bildekarusell slutt – Grid start */

.boks {
  color: #fff;
  padding: 1em;
  text-align: center;
}

.boks img{
  border-radius: 50%;
  max-height: 250px;
}
.boks h1{
  font-size: 24px;
  font-weight: bold;
  padding: 2vh 0 0 0;
}
.boks p{
  padding: 2vh 0 2vh 0;
  font-size: 14px;
  text-align: left;
}

.boks button{
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.boks button:hover{
  background-color: #e7e7e7;
}

.en   { background-color: #A2DED0; }
.to  { background-color: #F4D03F; }
.tre   { background-color: #6C7A89; }
.fire { background-color: #59ABE3; }

.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 90vh;
}

@media screen and (max-width: 1024px) {
  .app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
  }
  .boks img{
    border-radius: 50%;
    max-height: 150px;
  }
}