*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/1.5em 'Roboto';
  color: #252525;
}

header {
  position: relative;
  background: #252525;
  color: #fff;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.logo a {
  display: block;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3.250rem;
  color: #fff;
  text-decoration: none;
}

.bruker-js .nav-toggle {
  display: block;
}

.bruker-js .nav-burger.noshow {
  display: none;
}

.nav-toggle {
  display: none;
  order: 1;
  margin-left: auto;
  padding: 0.2rem 1rem 0.3rem;
  height: 3.25rem;
  border: 0;
  border-top: 0.25rem solid transparent;
  background: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1rem;
  transition: border-top-color 250ms ease-out;
  outline: none;
}

.nav-toggle .fa-times {
  display: none;
}

.nav-toggle[aria-expanded="true"] {
  background: #fff;
  border-top-color: #e00;
  color: #252525;
}

.nav-toggle[aria-expanded="true"] .fa-times {
  display: block;
}

.nav-toggle[aria-expanded="true"] .fa-bars {
  display: none;
}

.nav-toggle span {
  display: block;
  margin: 0.25em 0 0 0;
  font-size: 0.875em;
}

.nav-toggle:hover {
  border-top-color: #06c;
}

.nav-toggle:active {
  border-top-color: #e00;
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

.hoved-nav {
  position: absolute;
  top: 3.250rem;
  left: 0;
  right: 0;
  background: blanchedalmond;
}

.hoved-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hoved-nav > ul > li {
  margin: 1;
}

.hoved-nav > ul > li > a {
  display: block;
  padding: 1rem;
  color: #06c;
  font-size: 1.5rem;
  line-height: 1em;
  text-decoration: none;
}

.hoved-nav > ul > li > a:hover, .hoved-nav > ul > li > a:focus {
  color: #004080;
}


@media screen and (min-width: 768px) {
  header {
    align-items: baseline;
  }
  header.bruker-js .nav-toggle {
    display: none;
  }
  header.bruker-js .nav-burger.noshow {
    display: block;
  }
  .hoved-nav {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    background: #252525;
  }
  .hoved-nav > ul {
    margin-left: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hoved-nav > ul > li > a {
    position: relative;
    color: #fff;
    padding: 0 1rem 0.25rem;
    border-top: 0.25rem solid transparent;
    font-size: 1rem;
    font-weight: 500;
    line-height: 3.250rem;
    transition: border-top-color 250ms ease-out;
  }
  .hoved-nav > ul > li > a:hover, .hoved-nav > ul > li > a:focus {
    color: #fff;
    border-top-color: #06c;
  }
  .hoved-nav > ul > li > a:active {
    border-top-color: #e00;
  }
}
