*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightgrey; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, lightgrey, white);
  background: -moz-linear-gradient(right, lightgrey, white);
  background: -o-linear-gradient(right, lightgrey, white);
  background: linear-gradient(to left, lightgrey, white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* hamburger og nav start*/
header {
  position: relative;
  background: #252525;
  color: #fff;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.logo a {
  display: block;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3.250rem;
  color: #fff;
  text-decoration: none;
}

.bruker-js .nav-toggle {
  display: block;
}

.bruker-js .nav-burger.noshow {
  display: none;
}

.nav-toggle {
  display: none;
  order: 1;
  margin-left: auto;
  padding: 0.2rem 1rem 0.3rem;
  height: 3.25rem;
  border: 0;
  border-top: 0.25rem solid transparent;
  background: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1rem;
  transition: border-top-color 250ms ease-out;
  outline: none;
}

.nav-toggle .fa-times {
  display: none;
}

.nav-toggle[aria-expanded="true"] {
  background: #fff;
  border-top-color: #e00;
  color: #252525;
}

.nav-toggle[aria-expanded="true"] .fa-times {
  display: block;
}

.nav-toggle[aria-expanded="true"] .fa-bars {
  display: none;
}

.nav-toggle span {
  display: block;
  margin: 0.25em 0 0 0;
  font-size: 0.875em;
}

.nav-toggle:hover {
  border-top-color: #06c;
}

.nav-toggle:active {
  border-top-color: #e00;
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

.hoved-nav {
  position: absolute;
  top: 3.250rem;
  left: 0;
  right: 0;
  background: blanchedalmond;
}

.hoved-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hoved-nav > ul > li {
  margin: 1;
}

.hoved-nav > ul > li > a {
  display: block;
  padding: 1rem;
  color: #06c;
  font-size: 1.5rem;
  line-height: 1em;
  text-decoration: none;
}

.hoved-nav > ul > li > a:hover, .hoved-nav > ul > li > a:focus {
  color: #004080;
}

@media screen and (min-width: 768px) {
  header {
    align-items: baseline;
  }
  header.bruker-js .nav-toggle {
    display: none;
  }
  header.bruker-js .nav-burger.noshow {
    display: block;
  }
  .hoved-nav {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    background: #252525;
  }
  .hoved-nav > ul {
    margin-left: 1rem;
    flex-direction: row;
  }
  .hoved-nav > ul > li > a {
    position: relative;
    color: #fff;
    padding: 0 1rem 0.25rem;
    border-top: 0.25rem solid transparent;
    font-size: 1rem;
    font-weight: 500;
    line-height: 3.250rem;
    transition: border-top-color 250ms ease-out;
  }
  .hoved-nav > ul > li > a:hover, .hoved-nav > ul > li > a:focus {
    color: #fff;
    border-top-color: #06c;
  }
  .hoved-nav > ul > li > a:active {
    border-top-color: #e00;
  }
}

/* Hamburger og nav slutt – Index og default start */
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  height: 50%;
  border: solid 3px #151E3F;
  padding: 10px;
  top: 200px;
  width:60%;
}

.stemmebilde {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.loginbutton{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #DC9E82;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #F2F3D9;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/* Index og default slutt – logg inn start */

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  } 
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #DC9E82;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #F2F3D9;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background:#151E3F;
  }
  .form .message {
    margin: 15px 0 0;
    color: darkgray;
    font-size: 12px;
  }
  .form .message a {
    color: black;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .form .title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 27px;

  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
/* Innlogging slutt – Registrering start*/
  .wrapper{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;

  }

  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #151E3F;
    text-transform: uppercase;
    text-align: center;
  }

  .wrapper .reg{
    width: 100%;
  }

  .wrapper .reg .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .wrapper .reg .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }

  .wrapper .reg .inputfield .input,
  .wrapper .reg .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .wrapper .reg .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }

  .wrapper .reg .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }

  .wrapper .reg .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }

  .wrapper .reg .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }


  .wrapper .reg .inputfield .input:focus,
  .wrapper .reg .inputfield .textarea:focus,
  .wrapper .reg .inputfield .custom_select select:focus{
    border: 1px solid #C16E70;
  }

  .wrapper .reg .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .reg .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .wrapper .reg .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background:  #DC9E82;
    color: #F2F3D9;
    cursor: pointer;
    outline: none;
  }

  .wrapper .reg .inputfield .btn:hover{
    background: #151E3F;
  }

  .wrapper .reg .inputfield:last-child{
    margin-bottom: 0;
  }
/* Registrering slutt - Grid start*/

.boks {
  color: #ffffff;
  padding: 0.5em 1em 0.25em 1em;
  text-align: center;
}

.boks img{
  border-radius: 50%;
  max-height: 150px;
}
.boks h1{
  font-size: 24px;
  font-weight: bold;
  padding: 1vh 0 0 0;
}
.boks p{
  padding: 1vh 0 1vh 0;
  font-size: 14px;
  text-align: left;
}

.boks button{
  background-color: #DC9E82;
  border: none;
  color: #F2F3D9;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.boks button:hover{
  background-color: #151E3F;
}

.en   { background-color: #C16E70; }
.to  { background-color: #F3A712; }
.tre   { background-color: #E4572E; }
.fire { background-color: #B7990D; }

.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 46vh 46vh;
}

@media screen and (min-width: 1024px) {
  .app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 92vh;
  }
  .boks img{
    border-radius: 50%;
    max-height: 250px;
  }
}

.column1 {
  text-align:center;
  list-style-type: none;
  list-style-position: inside;
  }