// Colors
$color-brand:         #e00;
$color-gray-dark:     #252525;
$color-text:          #252525;
$color-link:          #06c;
$color-link-hover:    #004080;

// Box Sizing
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/1.5em Arial, sans-serif;
  color: #252525;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Skip links
.skip-link {
  position: absolute;
  left: -9000em;
  top: 0;
  z-index: 2000;
  display: block;
  padding: .5rem 1rem;
  background: #e2e2e2;
  color: $color-text;
  
  &:hover {
    background: $color-link-hover;
    color: #fff;
  }
  
  &:focus {
    left: 0;
  }
}

// Header bar
header {
  position: relative;
  background: $color-gray-dark;
  color: #fff;
  display: flex;
  align-items: stretch;
  // justify-content: space-between;
}

// Upgrade for JS
.has-js-loaded {
  .nav-toggle {
    display: block;
  }

  .nav-wrapper.noshow {
    display: none;
  }
}

// Nav toggle
.nav-toggle {
  display: none;
  order: 1;
  margin-left: auto;
  padding: 0.2rem 1rem 0.3rem;
  height: 3.250em;
  border: 0;
  border-top: 0.25rem solid transparent;
  background: none;
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  transition: border-top-color 250ms ease-out;
  
  .fa-times {
    display: none;
  }
  
  &[aria-expanded="true"] {
    background: #fff;
    border-top-color: $color-brand;
    color: $color-text;
    
    .fa-times {
      display: block;
    }
    
    .fa-bars {
      display: none;
    }
  }
  
  span {
    display: block;
    margin: 0.25em 0 0;
    font-size: 0.875em;
  }
  
  &:hover,
  &:focus {
    border-top-color: $color-link;
  }

  &:active {
    border-top-color: $color-brand;
  }
  
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-main {
  position: absolute;
  top: 3.250rem;
  left: 0;
  right: 0;
  background: #fff;
  
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    > li {
      margin: 0;
      
      > a {
        display: block;
        padding: 1rem;
        color: $color-link;
        font-size: 1.5rem;
        line-height: 1em;
        text-decoration: none;
        
        &:hover,
        &:focus {
          color: $color-link-hover;
        }
      }
      
      &.has-subnav {

        > a {
          display: flex;
          align-items: center;
          
          // Make chevron
          &::before {
            content: "";
            display: block;
            margin-right: 1rem;
            width: 0.5rem;
            height: 0.5rem;
            border-right: 0.094rem solid $color-link;
            border-bottom: 0.094rem solid $color-link;
            transform: rotate(-45deg) 
                       translate(0, 0);
          }

          // Flip chevron
          &[aria-expanded="true"] {
            &::before {
              transform: rotate(45deg) 
                         translate(0.15rem, -0.25rem);
            }
          }
        }        
      }
    }
  }
} // .nav-main

.subnav {
  padding: 1rem;
  color: $color-text;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem,1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
  
  h2 {
    margin: 0;
    font-size: 1rem;
    
    a {
      color: $color-text;
      text-decoration: underline;
      
      &:hover,
      &:focus {
        color: $color-link-hover;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 1rem;
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-link-hover;
      text-decoration: underline;
    }
  }

  &[hidden],
  &.noshow {
    display: none !important;
  }
}

// Main Nav
@media screen and (min-width: 768px) {
  header {
    align-items: baseline;
    
    &.has-js-loaded {
      .nav-toggle {
        display: none;
      }

      .nav-wrapper.noshow {
        display: block; // !important
      }
    }
  }
  
  .nav-main {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    background: $color-gray-dark;

    > ul {
      margin-left: 1rem;
      flex-direction: row;
      
      > li {
        
        > a {
          position: relative;
          color: #fff;
          padding: 0 1rem 0.25rem;
          border-top: 0.25rem solid transparent;
          font-size: 1rem;
          font-weight: 500;
          line-height: 3.250rem;
          transition: border-top-color 250ms ease-out;

          &:hover,
          &:focus {
            color: #fff;
            border-top-color: $color-link;
          }

          &:active {
            border-top-color: $color-brand;
          }

          &[aria-expanded="true"] {
            background: #fff;
            border-top-color: $color-brand;
            color: $color-text;
            z-index: 1002;
          }
        } // a

        &.has-subnav {

          > a {
            display: flex;
            align-items: center;
            
            &::before {
              display: none; // hide accordion-style chevron shown on small devices
            }
            
          } // a
        } // .has-subnav
        
      } // li
    } // ul
  } // .nav-main

  .subnav {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.750rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    z-index: 1001;
  } // subnav
  
  .has-js-loaded {
    .nav-main > ul {
      > li.has-subnav {
        > a {
          // Make chevron
          &::after {
            content: "";
            display: block;
            margin-left: 1rem;
            width: 0.5rem;
            height: 0.5rem;
            border-right: 0.094rem solid #fff;
            border-bottom: 0.094rem solid #fff;
            transform: rotate(45deg) 
                       translate(-0.3rem, 0.15rem);
          }

          // Flip chevron
          &[aria-expanded="true"] {
            &::after {
              border-right-color: $color-text;
              border-bottom-color: $color-text;
              transform: rotate(-135deg) 
                         translate(0.15rem, -0.3rem);
            }
          }
        }
      }
    }
  }

} // @media



// Demo only
.logo {
  margin: 0;
  
  a {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 3.250rem;
    color: #fff;
    text-decoration: none;
  }
}